/*
 * Button groups should have the default border color to match other inputs
 * vuetify uses !important on the some properties we're overriding, so we need that too
 */
a.v-btn.v-btn--outlined.v-btn--router.theme--light.v-size--default,
div.toolbar-btn-toggle > button.v-btn.v-btn--outlined.theme--light.v-size--default {
  height: 40px;
  border-color: rgba(0, 0, 0, 0.38) !important;
}

a.v-btn.v-btn--outlined.v-btn--router.theme--dark.v-size--default,
div.toolbar-btn-toggle > button.v-btn.v-btn--outlined.theme--dark.v-size--default  {
  height: 40px;
  border-color: rgb(118, 118, 118) !important;
}

div.toolbar-btn-toggle.v-item-group.theme--dark.v-btn-toggle {
  background-color: transparent !important;
}

button.toolbar-btn {
  height: 40px !important;
}

/*
 * Aligns the left toolbar content with the parent container
 */
header.v-toolbar.container-aligned > div.v-toolbar__content {
  padding: 0;
}

/*
 * Remove left padding for SLA dashboard data tables
 */
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tfoot > tr > th
{
  padding-left: 0;
}

.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table.sla-dashboard-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: inherit;
}

/*
 * Add space between header and table header for sla dashboard data tables
 */
.sla-dashboard-data-table {
  margin-top: 24px
}

text.text--secondary {
  fill: rgba(0, 0, 0, 0.6) !important;
}

/*
 * Some background color fixes for night mode
 */
.theme--dark.v-application,
.theme--dark.v-data-table {
  background-color: #272727 !important;
}


/*
 * Custom button groups without toggle
 */
.v-btn-group {
  border-radius: 4px;
  display: inline-flex;
}

.v-btn-group > .v-btn {
  border-radius: 0;
  justify-content: center;
  margin: 0;
  min-width: auto;
  padding: 0 8px;
  width: auto;
}

.v-btn-group > .v-btn:not(:last-child) {
   border-right: 0;
 }
.v-btn-group > .v-btn:first-child {
   border-radius: 4px 0 0 4px;
 }
.v-btn-group > .v-btn:last-child {
   border-radius: 0 4px 4px 0;
 }

/*
 * Lane Chart stuff
 */
.svg-lane-chart-bar {

}

.svg-lane-chart-bar:hover {
    opacity: 0.5
}



.custom-shape-divider-bottom-1620287819 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620287819 svg {
    position: relative;
    display: block;
    width: calc(241% + 1.3px);
    height: 201px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1620287819 .shape-fill {
    fill: #00695C;
}